<!-- Rodapé -->
<footer class="container-fluid text-light bg-primary fixed-bottom">
    <div class="row pt-3">
      <section class="col">
        <h5 class="text-light">Informações do Criador</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="text-light" href="https://www.instagram.com/chemin_pedro/">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="text-light" href="https://www.linkedin.com/in/pedro-henrique-chemin-prado-7446422ab/" >Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="text-light" href=mailto:chemin_pedro@outlook.com >Email</a>
          </li>
        </ul>
      </section>
      <section class="col">
        <h5 class="text-light">Informações do Projeto</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="text-light" href="https://github.com/PHChemin/fipe-car-manager" target="_blank">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="text-light" href="https://www.figma.com/file/5OF0EotkzTxRrBZN1YuKnd/Fipe-Car-Manager?type=design&node-id=1-3&mode=design&t=jjkK9LyxqtKUZazn-0" target="_blank">Protótipo Figma</a>
          </li>
          <li class="nav-item">
            <a class="text-light" href="" target="_blank">Youtube</a>
          </li>
        </ul>
      </section>
    </div>
  </footer>
  <!-- Fim Rodapé -->