<header class="fixed-top">
    <app-menu></app-menu>
</header>
<app-menu></app-menu>

<main>
    <img src="../../assets/resources/images/land-page-img.png" class="img-fluid" alt="Bem-Vindo">
    <div class="container text-center mt-4">
        <h2 class="fw-bold">Controle Completo dos Seus Veículos</h2>
        <p>Adicione facilmente os carros que você comprou ao longo do tempo, incluindo informações cruciais como marca, modelo, ano, quilometragem e, é claro, o valor de acordo com a tabela FIPE. Mantenha um registro detalhado de cada veículo em um único lugar.</p>
        
        <h2 class="fw-bold mt-5">Histórico de Vendas</h2>
        <p>Com o Fipe Car Manager, você pode gerenciar as vendas dos seus veículos. Marque um carro como vendido e registre o valor da venda para manter um histórico completo de transações.</p>
        
        <h2 class="fw-bold mt-5">Integração com a Tabela FIPE</h2>
        <p>Nossa aplicação se integra perfeitamente com uma API de Tabela FIPE, permitindo que você tenha acesso instantâneo aos valores atualizados dos veículos. Nunca foi tão fácil obter informações precisas sobre os preços de mercado.</p>
        
        <h2 class="fw-bold mt-5">Simples e Intuitivo</h2>
        <p>Desenvolvemos o Fipe Car Manager com foco na facilidade de uso. Com uma interface simples e intuitiva, você pode gerenciar seus carros sem complicações, onde quer que esteja.</p>
        
        <h2 class="fw-bold mt-5">Comece Agora Mesmo</h2>
        <p>Não perca mais tempo com planilhas confusas ou anotações perdidas. Comece a usar o Fipe Car Manager hoje mesmo e tenha controle total sobre seus veículos.</p>

        <div class="d-flex text-primary justify-content-center fw-bolder fs-4 mt-5 mb-5">
            <i class="bi bi-arrow-right"></i>
            <a routerLink="/register" class="text-primary text-decoration-none">Registre-se agora e comece a gerenciar seus carros de forma eficiente!</a>
            <i class="bi bi-arrow-left"></i>
        </div>
        
    </div>
</main>
<app-footer></app-footer>