<header>
    <app-menu></app-menu>
</header>

<main>
    <div class="container text-center mt-5">
        <h1 class="fw-bold">Página não encontrada!</h1>
        <div class="d-flex text-primary justify-content-center fw-bolder fs-4 mt-3">
            <i class="bi bi-arrow-right"></i>
            <a routerLink="/land-page" class="text-primary text-decoration-none">Vá para o menu clicando aqui!</a>
            <i class="bi bi-arrow-left"></i>
        </div>
        <img src="../../assets/resources/images/logo-completo.png" alt="Logo" class="img-fluid">
    </div>
</main>