<div class="container mt-5">
    <div class="col d-flex text-primary border border-2 border-primary bg-light">
        <div class="col-sm-12 col-md-4 col-12 text-center container ">
            <!-- Logo para telas grandes -->
            <img routerLink="/" class="img-fluid d-none d-sm-inline mt-5 mb-4" src="assets/resources/images/logo.png" alt="FipeCarManager">

            <!-- Logo para telas pequenas -->
            <img routerLink="/" class="img-fluid d-inline d-sm-none mt-5 mb-4" style="max-width: 90%;" src="assets/resources/images/logo.png" alt="FipeCarManager">

            <h2 class="text-primary fw-bold mb-4">Vamos começar !</h2>
            <form class="needs-validation" novalidate>
                <div class="mb-1 text-start">
                    <h2 class="text-dark">Login</h2>
                </div>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="addon-wrapping">&#64;</span>
                        <input type="text" class="form-control" [(ngModel)]="username" placeholder="Usuário" aria-label="Username" aria-describedby="addon-wrapping" required
                        [class.is-invalid]="" name="user">
                     <!--   <div class="invalid-feedback" *ngIf="userTouched && !validateUser()">Por favor, o usuário deve conter letras e/ou números!</div>-->
                    </div>
                </div>
                
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">&#64;</span>
                        <input type="password" class="form-control" [(ngModel)]="password" placeholder="Senha" aria-label="Username" aria-describedby="addon-wrapping" required
                        [class.is-invalid]="" name="password">
                    </div>
                    
                </div>
                <div *ngIf="logginError" class="alert alert-danger">
                    Senha e/ou usuário incorreto!
                </div>
            
                <div class="text-end mt-5">
                    <button class="btn btn-lg text-light bg-primary" [disabled]="!username || !password" (click)="onSubmit()" type="submit" >ENTRAR</button>
                </div>
            </form>
            <div class="text-center mt-5 m-3">
                <a routerLink="/register" class="text-primary fs-5" href="">Não é registrado? Crie uma conta clicando aqui!</a>
            </div>
        </div>
        <div class="col-sm-0 col-md-6 col-3  d-none d-md-block d-md-flex align-items-center bg-primary">
            <div class="container text-center">
                <div class="text-light fs-1 bolder">O ponto de partida para o controle total de seus veículos!</div>
            </div>
        </div>
    </div>
</div>