<!-- NAVBAR -->
<nav class="navbar bg-light">
    <div class="container text-center d-flex justify-content-between">
      <div class="col d-flex  align-items-center">
        <!-- Ícones para telas grandes -->
        <a class="text-primary fs-4 text-decoration-none fw-bold d-none d-sm-inline" data-bs-toggle="offcanvas" href="#offcanvas">MENU</a>
        <a class="text-primary fs-4 ms-4 text-decoration-none fw-bold d-none d-sm-inline" href="#">PERFIL</a>
  
        <!-- Ícones para telas pequenas -->
        <a class="text-primary fs-1 d-inline d-sm-none" data-bs-toggle="offcanvas" href="#offcanvas"><i class="bi bi-list"></i></a>
        <a class="text-primary fs-1 ms-4 d-inline d-sm-none" href="#"><i class="bi bi-person-circle"></i></a>
  
      </div>
      <div class="col text-end">
        <!-- Logo para telas grandes -->
        <img class="img-fluid d-none d-sm-inline" src="../../assets/resources/images/logo.png" alt="FipeCarManager">
  
        <!-- Logo para telas pequenas -->
        <img class="img-fluid d-inline d-sm-none" style="max-width: 90%;" src="../../assets/resources/images/logo.png" alt="FipeCarManager">
      </div>
    </div>
  </nav>
  
  <!-- TODO Link das outras páginas -->

  <!-- OFFCANVAS -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-secondary">
      <h2 class="offcanvas-title text-primary" id="offcanvasExampleLabel">MENU</h2>
      <div type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="bi bi-x-lg fw-bolder fs-4 text-primary"></i>
     </div>
    </div>
    <div class="offcanvas-body bg-secondary text-primary">
      <div class="itens">
        <a class="text-start d-flex align-items-baseline text-decoration-none" href="#">
          <i class="bi bi-car-front-fill text-primary fs-4 me-2"></i>
          <p class="text-primary fs-4 fw-medium">Meus Carros</p>
        </a>
      </div>
      <div class="itens">
        <a class="text-start d-flex align-items-baseline text-decoration-none" href="#">
          <i class="bi bi-plus-square text-primary fs-4 me-2"></i>
          <p class="text-primary fs-4 fw-medium">Adicionar Carro</p>
        </a>
      </div>
      <div class="itens">
        <a class="text-start d-flex align-items-baseline text-decoration-none" href="#">
          <i class="bi bi-cash-coin text-primary fs-4 me-2"></i>
          <p class="text-primary fs-4 fw-medium">Vendidos</p>
        </a>
      </div>
      <div class="itens">
        <a class="text-start d-flex align-items-baseline text-decoration-none" href="#">
          <i class="bi bi-person-circle text-primary fs-4 me-2"></i>
          <p class="text-primary fs-4 fw-medium">Perfil</p>
        </a>
      </div>
    </div>
  </div>
<!-- Fim NAVBAR -->