<header>
    <app-menu></app-menu>
</header>
<main>
    <img src="../../assets/resources/images/add-car-img-2.png" class="img-fluid mb-5" alt="Adicionar Veículos">
    <div class="container">
        <h1 class="fw-bold">Dados do Veículo</h1>
        <form class="row needs-validation" novalidate>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-brand" class="form-label fs-4">Marca</label>
                <input type="text" class="form-control" id="input-brand">
            </div>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-model" class="form-label fs-4">Modelo</label>
                <input type="text" class="form-control" id="input-model">
            </div>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-year" class="form-label fs-4">Ano</label>
                <input type="text" class="form-control" id="input-year">
            </div>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-date-purchase" class="form-label fs-4">Data de Compra</label>
                <input type="date" class="form-control" id="input-date-purchase">
            </div>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-price" class="form-label fs-4">Preço de Compra</label>
                <input type="number" class="form-control" id="input-price">
            </div>
            <div class="col-12 col-md-4 mb-4">
                <label for="input-plate" class="form-label fs-4">Placa</label>
                <input type="text" class="form-control" id="input-plate">
            </div>
            <div class="text-center mb-5 mt-2">
                <button class="btn btn-lg btn-success">ADICIONAR</button>
            </div>
        </form>
    </div>
</main>
<footer class="mt-5">
    <app-footer></app-footer>
</footer>
