body{
    background-image: url('../../assets/resources/images/logo-completo.png');
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
.card {
    background-color: rgba(255, 255, 255, 0.9); /* Cor branca com 50% de transparência */
}