<header>
    <app-menu></app-menu>
</header>
<main>
    <div class="container">
        <div class="d-flex justify-content-between align-items-baseline text-center mt-4">
            <div class="d-flex align-items-baseline">
                <i class="bi bi-car-front-fill fs-3 me-2"></i>
                <h1 class="fs-3 fw-bold">Meus Carros</h1>
            </div>
            <button class="btn btn-sm btn-primary">ADICIONAR</button>
        </div>
        <div class="row">
            <div 
            class="col-12 col-md-4 mt-4" 
            *ngFor="let vehicle of vehicles"
            >
                <a class="text-decoration-none" [routerLink]="['/my-vehicle/details', vehicle.id]">
                    <div class="card border-primary">
                        <div class="card-header border-primary fs-4 fw-medium" id="brand-model">
                            {{vehicle.model}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{vehicle.brand}}</h5>
                            <ul class="card-text">
                                <li>Data de Compra: {{vehicle.purchaseDate}}</li>
                                <li>Placa: {{vehicle.plate}}</li>
                                <li>Preço de Compra: R${{vehicle.purchasePrice}}</li>
                                <li class="fs-3 text-primary fw-medium">Fipe: R$</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>