<div class="container">
    <h1 class="fw-bold">Dados do Veículo</h1>
    <form class="row needs-validation" novalidate>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-brand" class="form-label fs-4">Marca<span class="text-primary">*</span></label>
            <input type="text" class="form-control" id="input-brand" [(ngModel)]="vehicle.brand" name="brand">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-model" class="form-label fs-4">Modelo<span class="text-primary">*</span></label>
            <input type="text" class="form-control" id="input-model" [(ngModel)]="vehicle.model" name="model">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-year" class="form-label fs-4">Ano<span class="text-primary">*</span></label>
            <input type="text" class="form-control" id="input-year" [(ngModel)]="vehicle.year" name="year">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-date-purchase" class="form-label fs-4">Data de Compra<span class="text-primary">*</span></label>
            <input type="date" class="form-control" id="input-date-purchase" [(ngModel)]="vehicle.purchaseDate" name="purchaseDate">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-price" class="form-label fs-4">Preço de Compra<span class="text-primary">*</span></label>
            <input type="number" class="form-control" id="input-price" [(ngModel)]="vehicle.purchasePrice" name="purchasePrice">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <label for="input-plate" class="form-label fs-4">Placa<span class="text-primary">*</span></label>
            <input type="text" class="form-control" id="input-plate" [(ngModel)]="vehicle.plate" name="plate">
        </div>
        <div class="text-center mb-5 mt-2">
            <button class="btn btn-lg btn-success" (click)="addVehicle(); sendMessage()">ADICIONAR</button>
        </div>
    </form>
</div>